/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #E4E4E4;
    background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #A7A7A7), color-stop(0.51, #E4E4E4));
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    width: 100%;
}


/* Portrait layout (default) */

.app {
    background: url(../img/logo.png) no-repeat center top;
    /* 170px x 200px */
    position: absolute;
    /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px;
    /* text area height */
    width: 225px;
    /* text area width */
    text-align: center;
    padding: 180px 0px 0px 0px;
    /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px;
    /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}


/* Landscape layout (with min-width) */

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px;
        /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px;
        /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

body {
    background: #edf0f1;
    padding: 80px 0 0 0;
}

body,
input,
button {
    font-family: 'Roboto', sans-serif;
}

.noFill {
    fill: none;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    padding: 15px;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(144, 0, 0, 0.91);
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
}

header input {
    width: 100%;
    height: 50px;
    float: left;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 60px 0 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px 25px 25px 5px;
    border: 0px;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

header input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input:-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    border-radius: 25px;
    background: #2968debd;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

header button svg {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -12px 0 0 -12px;
}

header button svg .fill {
    /* fill: #25b99a; */
    fill: #0e9a02;
}

.container {
    width: 100%;
    float: left;
    padding: 15px;
}

ul.todo {
    width: 100%;
    float: left;
}

ul.todo li {
    width: 100%;
    min-height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;
    word-break: break-word;
}

ul.todo li:last-of-type {
    margin: 0;
}

ul.todo li .buttons {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

ul.todo li .buttons button {
    width: 50px;
    height: 50px;
    float: left;
    background: none;
    position: relative;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

ul.todo li .buttons button:last-of-type:before {
    content: '';
    width: 1px;
    height: 30px;
    background: #edf0f1;
    position: absolute;
    top: 10px;
    left: 0;
}

ul.todo li .buttons button svg {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -11px 0 0 -11px;
}

ul.todo li .buttons button.complete svg {
    border-radius: 11px;
    border: 1.5px solid rgba(182, 182, 182, 0.38);
    transition: background 0.2s ease;
}

ul.todo#completed li .buttons button.complete svg {
    background: #25b99a;
    border: 1.5px solid rgba(182, 182, 182, 0.38);
}

ul.todo:not(#completed) li .buttons button.complete:hover svg {
    background: rgba(37, 185, 154, 0.75);
}

ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
    fill: #fff;
}

ul.todo#completed li .buttons button.complete svg .fill {
    fill: #fff;
}

ul.todo li .buttons button svg .fill {
    transition: fill 0.2s ease;
}

ul.todo li .buttons button.remove svg .fill {
    fill: #c0cecb;
}

ul.todo li .buttons button.remove:hover svg .fill {
    fill: #f70808;
}

ul.todo li .buttons button.complete svg .fill {
    fill: #25b99a;
}

ul.todo#completed {
    position: relative;
    padding: 60px 0 0 0;
}

ul.todo#completed:before {
    content: '';
    width: 150px;
    height: 2px;
    background: rgb(255, 138, 101);
    position: absolute;
    top: 30px;
    left: 50%;
    margin: 0 0 0 -75px;
}

ul.todo#todo:empty:after {
    content: 'You have nothing to-do!';
    margin: 15px 0 0 0;
}

ul.todo#completed:empty:after {
    content: 'You have yet to complete any tasks.';
}

ul.todo#todo:after,
ul.todo#completed:after {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #aaa;
}